// Generated Dark Mode Overrides

.dark.palette-1 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #292041;
  --md-sys-color-on-primary-container: #efedf5;
  --md-sys-color-secondary-container: #2d2937;
  --md-sys-color-on-secondary-container: #f0eff3;
  --md-sys-color-tertiary-container: #3d1f41;
  --md-sys-color-on-tertiary-container: #f4edf5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-2 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #48343a;
  --md-sys-color-on-primary-container: #f7f2f4;
  --md-sys-color-secondary-container: #403c3d;
  --md-sys-color-on-secondary-container: #f5f4f4;
  --md-sys-color-tertiary-container: #483a34;
  --md-sys-color-on-tertiary-container: #f7f4f2;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-3 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #322026;
  --md-sys-color-on-primary-container: #f2edef;
  --md-sys-color-secondary-container: #292929;
  --md-sys-color-on-secondary-container: #efefef;
  --md-sys-color-tertiary-container: #322520;
  --md-sys-color-on-tertiary-container: #f2eeed;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-4 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #3d1922;
  --md-sys-color-on-primary-container: #f4ebee;
  --md-sys-color-secondary-container: #342227;
  --md-sys-color-on-secondary-container: #f2eeef;
  --md-sys-color-tertiary-container: #3d2519;
  --md-sys-color-on-tertiary-container: #f4efeb;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-5 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #381f0f;
  --md-sys-color-on-primary-container: #f3ede9;
  --md-sys-color-secondary-container: #302116;
  --md-sys-color-on-secondary-container: #f1edeb;
  --md-sys-color-tertiary-container: #38370f;
  --md-sys-color-on-tertiary-container: #f3f3e9;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-6 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #2e2400;
  --md-sys-color-on-primary-container: #f1eee5;
  --md-sys-color-secondary-container: #292204;
  --md-sys-color-on-secondary-container: #efeee6;
  --md-sys-color-tertiary-container: #1b2e00;
  --md-sys-color-on-tertiary-container: #ecf1e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-7 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #202800;
  --md-sys-color-on-primary-container: #edefe5;
  --md-sys-color-secondary-container: #1d2404;
  --md-sys-color-on-secondary-container: #edeee6;
  --md-sys-color-tertiary-container: #072800;
  --md-sys-color-on-tertiary-container: #e7efe5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-8 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #122b11;
  --md-sys-color-on-primary-container: #eaf0e9;
  --md-sys-color-secondary-container: #172517;
  --md-sys-color-on-secondary-container: #ebeeeb;
  --md-sys-color-tertiary-container: #112b20;
  --md-sys-color-on-tertiary-container: #e9f0ed;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-9 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002c25;
  --md-sys-color-on-primary-container: #e5f0ee;
  --md-sys-color-secondary-container: #042722;
  --md-sys-color-on-secondary-container: #e6efee;
  --md-sys-color-tertiary-container: #00172c;
  --md-sys-color-on-tertiary-container: #e5ebf0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-10 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #00292e;
  --md-sys-color-on-primary-container: #e5eff1;
  --md-sys-color-secondary-container: #042529;
  --md-sys-color-on-secondary-container: #e6eeef;
  --md-sys-color-tertiary-container: #000d2e;
  --md-sys-color-on-tertiary-container: #e5e8f1;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-11 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #00283a;
  --md-sys-color-on-primary-container: #e5eff4;
  --md-sys-color-secondary-container: #052534;
  --md-sys-color-on-secondary-container: #e6eef2;
  --md-sys-color-tertiary-container: #00043a;
  --md-sys-color-on-tertiary-container: #e5e6f4;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-12 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #192639;
  --md-sys-color-on-primary-container: #ebeff3;
  --md-sys-color-secondary-container: #212731;
  --md-sys-color-on-secondary-container: #edeff1;
  --md-sys-color-tertiary-container: #1f1939;
  --md-sys-color-on-tertiary-container: #edebf3;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-13 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #24213a;
  --md-sys-color-on-primary-container: #eeedf4;
  --md-sys-color-secondary-container: #2b2a31;
  --md-sys-color-on-secondary-container: #f0f0f1;
  --md-sys-color-tertiary-container: #33213a;
  --md-sys-color-on-tertiary-container: #f2edf4;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-14 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #2f2232;
  --md-sys-color-on-primary-container: #f1eef2;
  --md-sys-color-secondary-container: #2a2a2a;
  --md-sys-color-on-secondary-container: #f0f0f0;
  --md-sys-color-tertiary-container: #32212b;
  --md-sys-color-on-tertiary-container: #f2eef0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-15 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #3a1922;
  --md-sys-color-on-primary-container: #f4ebee;
  --md-sys-color-secondary-container: #322226;
  --md-sys-color-on-secondary-container: #f2eeef;
  --md-sys-color-tertiary-container: #3a2419;
  --md-sys-color-on-tertiary-container: #f4eeeb;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-16 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #461210;
  --md-sys-color-on-primary-container: #f7eae9;
  --md-sys-color-secondary-container: #3d1a19;
  --md-sys-color-on-secondary-container: #f4eceb;
  --md-sys-color-tertiary-container: #463210;
  --md-sys-color-on-tertiary-container: #f7f2e9;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-17 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #42160d;
  --md-sys-color-on-primary-container: #f6ebe8;
  --md-sys-color-secondary-container: #3a1b15;
  --md-sys-color-on-secondary-container: #f4ecea;
  --md-sys-color-tertiary-container: #42360d;
  --md-sys-color-on-tertiary-container: #f6f3e8;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-18 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #3b1d00;
  --md-sys-color-on-primary-container: #f4ece5;
  --md-sys-color-secondary-container: #351d05;
  --md-sys-color-on-secondary-container: #f2ece6;
  --md-sys-color-tertiary-container: #353b00;
  --md-sys-color-on-tertiary-container: #f2f4e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-19 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #312300;
  --md-sys-color-on-primary-container: #f1eee5;
  --md-sys-color-secondary-container: #2c2104;
  --md-sys-color-on-secondary-container: #f0ede6;
  --md-sys-color-tertiary-container: #213100;
  --md-sys-color-on-tertiary-container: #edf1e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-20 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #262700;
  --md-sys-color-on-primary-container: #efefe5;
  --md-sys-color-secondary-container: #222303;
  --md-sys-color-on-secondary-container: #eeeee6;
  --md-sys-color-tertiary-container: #0e2700;
  --md-sys-color-on-tertiary-container: #e9efe5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-21 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #1a2a08;
  --md-sys-color-on-primary-container: #ecf0e7;
  --md-sys-color-secondary-container: #1a240d;
  --md-sys-color-on-secondary-container: #eceee8;
  --md-sys-color-tertiary-container: #082a0a;
  --md-sys-color-on-tertiary-container: #e7f0e8;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-22 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002b16;
  --md-sys-color-on-primary-container: #e5f0eb;
  --md-sys-color-secondary-container: #042716;
  --md-sys-color-on-secondary-container: #e6efeb;
  --md-sys-color-tertiary-container: #00262b;
  --md-sys-color-on-tertiary-container: #e5eff0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-23 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002b28;
  --md-sys-color-on-primary-container: #e5f0ef;
  --md-sys-color-secondary-container: #042624;
  --md-sys-color-on-secondary-container: #e6efee;
  --md-sys-color-tertiary-container: #00132b;
  --md-sys-color-on-tertiary-container: #e5eaf0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-24 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002834;
  --md-sys-color-on-primary-container: #e5eff2;
  --md-sys-color-secondary-container: #05252f;
  --md-sys-color-on-secondary-container: #e6eef1;
  --md-sys-color-tertiary-container: #000934;
  --md-sys-color-on-tertiary-container: #e5e7f2;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-25 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #0a2642;
  --md-sys-color-on-primary-container: #e8eff6;
  --md-sys-color-secondary-container: #12263a;
  --md-sys-color-on-secondary-container: #eaeff4;
  --md-sys-color-tertiary-container: #100a42;
  --md-sys-color-on-tertiary-container: #e9e8f6;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-26 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #1c2343;
  --md-sys-color-on-primary-container: #eceef6;
  --md-sys-color-secondary-container: #262939;
  --md-sys-color-on-secondary-container: #efeff3;
  --md-sys-color-tertiary-container: #2d1c43;
  --md-sys-color-on-tertiary-container: #f0ecf6;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-27 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #2a1f41;
  --md-sys-color-on-primary-container: #f0edf5;
  --md-sys-color-secondary-container: #2d2837;
  --md-sys-color-on-secondary-container: #f0eff3;
  --md-sys-color-tertiary-container: #3e1f41;
  --md-sys-color-on-tertiary-container: #f5edf5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-28 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #341d3a;
  --md-sys-color-on-primary-container: #f2ecf4;
  --md-sys-color-secondary-container: #2f2631;
  --md-sys-color-on-secondary-container: #f1eff1;
  --md-sys-color-tertiary-container: #3a1d2f;
  --md-sys-color-on-tertiary-container: #f4ecf1;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-29 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #3e192e;
  --md-sys-color-on-primary-container: #f5ebf1;
  --md-sys-color-secondary-container: #35222d;
  --md-sys-color-on-secondary-container: #f2eef0;
  --md-sys-color-tertiary-container: #3e1b19;
  --md-sys-color-on-tertiary-container: #f5eceb;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-30 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #46121e;
  --md-sys-color-on-primary-container: #f7eaed;
  --md-sys-color-secondary-container: #3d1a23;
  --md-sys-color-on-secondary-container: #f4ecee;
  --md-sys-color-tertiary-container: #462512;
  --md-sys-color-on-tertiary-container: #f7eeea;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-31 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #4c0004;
  --md-sys-color-on-primary-container: #f8e5e6;
  --md-sys-color-secondary-container: #45070b;
  --md-sys-color-on-secondary-container: #f6e7e8;
  --md-sys-color-tertiary-container: #4c2900;
  --md-sys-color-on-tertiary-container: #f8efe5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-32 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #4a0c00;
  --md-sys-color-on-primary-container: #f8e8e5;
  --md-sys-color-secondary-container: #421107;
  --md-sys-color-on-secondary-container: #f6e9e7;
  --md-sys-color-tertiary-container: #4a3900;
  --md-sys-color-on-tertiary-container: #f8f3e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-33 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #401900;
  --md-sys-color-on-primary-container: #f5ebe5;
  --md-sys-color-secondary-container: #3a1a06;
  --md-sys-color-on-secondary-container: #f4ece7;
  --md-sys-color-tertiary-container: #404000;
  --md-sys-color-on-tertiary-container: #f5f5e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-34 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #362100;
  --md-sys-color-on-primary-container: #f3ede5;
  --md-sys-color-secondary-container: #301f05;
  --md-sys-color-on-secondary-container: #f1ede6;
  --md-sys-color-tertiary-container: #2a3600;
  --md-sys-color-on-tertiary-container: #f0f3e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-35 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #2a2600;
  --md-sys-color-on-primary-container: #f0efe5;
  --md-sys-color-secondary-container: #262204;
  --md-sys-color-on-secondary-container: #efeee6;
  --md-sys-color-tertiary-container: #142a00;
  --md-sys-color-on-tertiary-container: #eaf0e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-36 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #1e2900;
  --md-sys-color-on-primary-container: #edefe5;
  --md-sys-color-secondary-container: #1c2504;
  --md-sys-color-on-secondary-container: #eceee6;
  --md-sys-color-tertiary-container: #052900;
  --md-sys-color-on-tertiary-container: #e6efe5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-37 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #0f2b00;
  --md-sys-color-on-primary-container: #e9f0e5;
  --md-sys-color-secondary-container: #102604;
  --md-sys-color-on-secondary-container: #e9efe6;
  --md-sys-color-tertiary-container: #002b0a;
  --md-sys-color-on-tertiary-container: #e5f0e8;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-38 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002b12;
  --md-sys-color-on-primary-container: #e5f0ea;
  --md-sys-color-secondary-container: #042713;
  --md-sys-color-on-secondary-container: #e6efea;
  --md-sys-color-tertiary-container: #002a2b;
  --md-sys-color-on-tertiary-container: #e5f0f0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-39 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002b21;
  --md-sys-color-on-primary-container: #e5f0ed;
  --md-sys-color-secondary-container: #04261f;
  --md-sys-color-on-secondary-container: #e6efed;
  --md-sys-color-tertiary-container: #001a2b;
  --md-sys-color-on-tertiary-container: #e5ecf0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-40 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002a2d;
  --md-sys-color-on-primary-container: #e5f0f0;
  --md-sys-color-secondary-container: #042629;
  --md-sys-color-on-secondary-container: #e6efef;
  --md-sys-color-tertiary-container: #000e2d;
  --md-sys-color-on-tertiary-container: #e5e9f0;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-41 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #002839;
  --md-sys-color-on-primary-container: #e5eff3;
  --md-sys-color-secondary-container: #052533;
  --md-sys-color-on-secondary-container: #e6eef2;
  --md-sys-color-tertiary-container: #000539;
  --md-sys-color-on-tertiary-container: #e5e6f3;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-42 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #142443;
  --md-sys-color-on-primary-container: #eaeef6;
  --md-sys-color-secondary-container: #1d273a;
  --md-sys-color-on-secondary-container: #eceff4;
  --md-sys-color-tertiary-container: #201443;
  --md-sys-color-on-tertiary-container: #edeaf6;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-43 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #212240;
  --md-sys-color-on-primary-container: #edeef5;
  --md-sys-color-secondary-container: #2b2b36;
  --md-sys-color-on-secondary-container: #f0f0f3;
  --md-sys-color-tertiary-container: #332140;
  --md-sys-color-on-tertiary-container: #f2edf5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-44 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #2c1f3b;
  --md-sys-color-on-primary-container: #f0edf4;
  --md-sys-color-secondary-container: #2d2832;
  --md-sys-color-on-secondary-container: #f0eff2;
  --md-sys-color-tertiary-container: #3b1f38;
  --md-sys-color-on-tertiary-container: #f4edf3;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-45 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #371b32;
  --md-sys-color-on-primary-container: #f3ecf2;
  --md-sys-color-secondary-container: #2f232d;
  --md-sys-color-on-secondary-container: #f1eef0;
  --md-sys-color-tertiary-container: #371b21;
  --md-sys-color-on-tertiary-container: #f3eced;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-46 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #411825;
  --md-sys-color-on-primary-container: #f5ebee;
  --md-sys-color-secondary-container: #382128;
  --md-sys-color-on-secondary-container: #f3edef;
  --md-sys-color-tertiary-container: #412318;
  --md-sys-color-on-tertiary-container: #f5eeeb;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-47 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #471517;
  --md-sys-color-on-primary-container: #f7eaeb;
  --md-sys-color-secondary-container: #3d1e1f;
  --md-sys-color-on-secondary-container: #f4eded;
  --md-sys-color-tertiary-container: #473015;
  --md-sys-color-on-tertiary-container: #f7f1ea;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-48 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #490e08;
  --md-sys-color-on-primary-container: #f7e9e7;
  --md-sys-color-secondary-container: #411410;
  --md-sys-color-on-secondary-container: #f5eae9;
  --md-sys-color-tertiary-container: #493508;
  --md-sys-color-on-tertiary-container: #f7f2e7;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-49 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #3c1c02;
  --md-sys-color-on-primary-container: #f4ece6;
  --md-sys-color-secondary-container: #361c08;
  --md-sys-color-on-secondary-container: #f3ece7;
  --md-sys-color-tertiary-container: #3a3c02;
  --md-sys-color-on-tertiary-container: #f4f4e6;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}

.dark.palette-50 {
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-on-surface: #FDF8FC;
  --md-sys-color-background: #1C1B1F;
  --md-sys-color-on-background: #FDF8FC;
  --md-sys-color-primary-container: #322200;
  --md-sys-color-on-primary-container: #f2eee5;
  --md-sys-color-secondary-container: #2d2005;
  --md-sys-color-on-secondary-container: #f0ede6;
  --md-sys-color-tertiary-container: #233200;
  --md-sys-color-on-tertiary-container: #eef2e5;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface-variant: #E7E0EC;
}
